{%- set static = (static is defined ? static : false) %}
{%- set cols = (cols is defined ? cols : []) %}
{%- set rows = (rows is defined ? rows : []) -%}

<table id="{{ id }}" class="data eventtable">
	<thead>
		<tr>
			{% for col in cols %}
				<th scope="col">{{ col.heading ? col.heading : ' ' }}</th>
			{% endfor %}
			{% if not static %}
				<th colspan="2"></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for rowId, row in rows %}
			<tr data-id="{{ rowId }}">
				{% for colId, col in cols %}
					{% set cellName = name~'['~rowId~']['~colId~']' %}
					{% set cellId = name~'-'~rowId~'-'~colId %}
					{% set value = (row[colId] is defined ? row[colId] : null) %}
					{% set textual = (col.type in ['singleline','multiline','number']) %}
					{% set datetime = col.type == 'datetime' %}
					<td class="{% if datetime %}datetime{% endif %} {% if textual %}textual{% endif %} {% if col.class is defined %}{{ col.class }}{% endif %}"{% if col.width is defined %} width="{{ col.width }}"{% endif %}>
						{%- if col.type == 'select' -%}
							{ include "_includes/forms/select" with {
								class:    'small',
								name:     cellName,
								options:  col.options,
								value:    value,
								disabled: static
							} only %}
						{%- elseif col.type == 'datetime' -%}
							<div class="datetimewrapper">
								{% from "_includes/forms" import date, time %}
								{{ date({
									id:    cellId,
									name:  cellName,
									value: value
								}) }}
								{{ time({
									id:    cellId,
									name:  cellName,
									value: value,
									minuteIncrement: 30
								}) }}
							</div>
						{%- elseif col.type == 'singleline' -%}
							{% from "_includes/forms" import text %}
							{{ text({
								id:    cellId,
								name:  cellName,
								value: value
							}) }}
						{%- elseif col.type == 'checkbox' -%}
							<input type="hidden" name="{{ cellName }}">
							<input type="checkbox" name="{{ cellName }}" value="1"{% if value %} checked{% endif %}{% if static %} disabled{% endif %}>
						{%- else -%}
							<textarea class="text nicetext fullwidth" name="{{ cellName }}" rows="1"{% if static %} disabled{% endif %}>{{ value }}</textarea>
						{%- endif -%}
					</td>
				{% endfor %}
				{% if not static %}
					<td class="thin action"><a class="move icon" title="{{ 'Reorder'|t }}"></a></td>
					<td class="thin action"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% if not static %}
	<div class="btn add icon">{{ addRowLabel is defined ? addRowLabel : "Add a row"|t }}</div>
{% endif %}

{% set localeData = craft.i18n.getLocaleData() %}
{% set settings = [] %}
{% set settings = settings|merge({
	datepicker: {
		dateFormat: craft.i18n.datepickerJsFormat,
		prevText: "Prev"|t,
		nextText: "Next"|t,
		firstDay: currentUser.weekStartDay
	},
	timepicker: {
		timeFormat: craft.i18n.timepickerJsFormat,
		orientation: localeData.getOrientation(),
		step: 30,
		lang: {
			am: localeData.getAMName(),
			AM: localeData.getAMName(),
			pm: localeData.getPMName(),
			PM: localeData.getPMName()
		}
	}
}) %}

{% if not static and (initJs is not defined or initJs) %}
	{% set js %}
		new Craft.EditableEventTable(
			"{{ id   | namespaceInputId   | e('js') }}",
			"{{ name | namespaceInputName | e('js') }}",
			{{ cols|json_encode|raw }},
			{{ settings|json_encode|raw }});
	{% endset %}

	{% includeJs js %}
{% endif %}

{% includeJsResource "eventtable/eventtable.js" %}
{% includeCssResource "eventtable/eventtable.css" %}
